.brown-form {
    background-color: #E4CFAC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #E4CFAC;
    width: 100%;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 10vh;
    border-radius: 5px;
    background-color: #E4CFAC;
}

.button {
    border-radius: 5px;
    width: 100px;
    height: 50px;
}