.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  @media screen and (max-width: 1015px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
  }
}

.dashboard-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 230px;
}

.droppable-column {
  height: 85vh;
  overflow: auto;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  @media screen and (max-width: 1015px) {
    height: auto;
  }
}
